body{
    background-color: black;
    padding: 50px;
}

header{
    background: white;
}

h1{
    font-size: 44px;
}

.container{
    width: 400px;
    margin: 100px;
}


.post{
    border: 2px solid black;
    background-color: white;
    box-shadow: 1px 3px 7px;

}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post h3,
.post span{
    padding: 15px 15px;
    margin: 2px;
}

span{
    color: white;
}

.img1{
    width: 10%;
    display: flex;
    float: left;
    
}

img{
    width: 100%;
}

.img2{
    width: 10%;
    display: flex;
    float: right;
}
 .imagen{
     float: right;
 }